/* nav bar */
.head {
  background-color: white;
  border-bottom: $secondary-color 10px solid;
  margin: 0 auto;
  padding-top: 20px;
  overflow: auto;
}
.head h1{
  color: black;
  font-family: $main-font;
  font-size: 50px;
  float: left;
  text-transform: uppercase;
}
.head a {
  color: black;
  font-family: $main-font;
  text-transform: uppercase;
  text-decoration: none;
}
#logo {
  color: $main-color;
  font-size: 70px;
  float: left;
  margin: 0 20px;
}
