$main-color: rgba(143, 143, 143, .5);
$secondary-color: rgba(199, 148, 72, 1.0);
$bg-color: rgba(60, 60, 60, 1.0);
$other-font: 'arial', sans-serif;
$main-font:'Lato', sans-serif;;
$small-text-font: 'merriweather', serif;
$header-font: 'poiret one', cursive;

$edit: red 2px solid;
