
.header {
  background-color: white;
  color: black;
  border-bottom: solid 10px rgba(199, 148, 72, 1.0);
  font-family: "lucida console", monospace;
  font-size: 62px;
  text-align: center;
  position: fixed;
  width: 100%;
  margin-left: -10px;
  margin-top: -10px;
}

.container {
  width: 300px;
  height: 300px;
  float:left;
  background-color: rgba(143, 143, 143, 1.0);
  color: white;
  display: inline-block;
  position: relative;
  margin-top: 100px;
  overflow-x: auto;

}

.container span {
  font-family: 'arial', sans-serif;
  font-size:100px;
  }


.container .info {
  font-family: "arial", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 2;
}

a:link {
  color: white;
  text-decoration: none;
  text-align:center;
}
a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-align:center;
}

#css-box {
  float:left;
  left: 50px;
}

#html-box {
  float: left;
  left: 175px;
}

#js-box {
  float: left;
  left: 300px;
}
