/* nav bar */
header {
  background-color: white;
  border-bottom: black 5px solid;
  color: black;
  font-family: "lucida console", monospace;
  font-size: 62px;
  margin: 0 auto;
  padding: 20px;
  text-transform: uppercase;
}
/*body*/
.container{
  max-width: 80%;
  margin: 0 auto;
  /*outline: red 2px solid;*/
  overflow: auto;
}
/*boxes*/
.box {
  background-color: rgba(143, 143, 143, .6);
  float:left;
  height: 350px;
  margin: 50px 5px;
  width: 32%;
  /*outline: red 2px solid;*/
}
/*box header*/
.box-header {
  color: white;
  font-family: 'arial', sans-serif;
  font-size:100px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: white 2px solid;
  }

  /*box paragraph*/
.box li {
  color: white;
  font-family: "arial", sans-serif;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 10px;
  line-height: 2em;
  /*outline: red 2px solid;*/
}
.box li a:link {
  color: white;
  text-decoration: none;
}
.box li a:visited {
  color: white;
}
.box li a:hover {
  color: white;
  text-decoration: underline;
}
.box li a:active {
  color: white;
}
