
@import 'reset';
@import 'variables';
@import 'bg-page-container';
@import 'head';
@import 'hp-leftc';
@import 'hp-rightc';

/*body*/
.main-links {
  max-width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  overflow: auto;
}
.active {
  background-color: white;
  color:black;
}
