
.page-header {
  background-color: grey;
  color: white;
  font-size: 62px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 2px;
}

.box {
  width: 300px;
  height: 400px;
  background-color: grey;
  color: white;
  display: inline-block;
  position: relative;
  margin-top: 5px;
  overflow-x: auto;

}

.box .link {
  font-size: 100px;
  text-align: center;
}

.box p {
  font-size: 16px;
  text-align: left;
}

#css-box {
  float:left;
  left: 10px;
}

#html-box {
  float: left;
  left: 150px;
}

#js-box {
  float: left;
  left: 300px;

}
