
.column-left {
  background-color: black;
  color: white;
  float:left;
  width: 25%;
}
.column-left h1 {
  font-size: 3em;
  font-family: $main-font;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.column-left li {
  font-family: $small-text-font;
  line-height: 50px;
  padding-left: 20px;
  text-transform: uppercase;
}
.column-left a {
  color: white;
  text-decoration: none;
}
.column-left li:hover {
  background-color: $main-color;
}
