.color-box {
  height: 100px;
  width: 8%;
  float: left;
  margin-left: 2%;
  background-color: darkSlateGrey;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 25px;
}
.color-box span {
  font-size: 14px;
}
.opacity-box {
  height: 100px;
  width: 17.3333%;
  float: left;
  margin-left: 2%;
  background-color: darkSlateGrey;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 25px;
}
.color-link {
  clear:both;
  padding-top: 30px;
}
/*=======================backgrounds and borders===*/
